* {
    font-family: 'Libre Baskerville', serif;
}

a.big-brand p:first-letter, a.little-brand p:first-letter {
    font-size: 200%;
}

.navbar {
    background-color: black;
    font-size: 20pt;
    color: white !important;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
    color: white !important;
}

.big-brand {
    font-size: 20pt;
}

.little-brand {
    font-size: 12pt;
}

.navbar-default .navbar-nav>li>a {
    font-size: 16pt;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.carousel {
    height: 300px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 300px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 300px;
}

.practice {
    height: 2em;
}

.practice a {
    color: black;
}

.practice a:hover {
    color: cornflowerblue;
    text-decoration: none;
}
